In [3]:
import pandas as pd
import numpy as np

In [4]:
il_df = pd.DataFrame({ 'mese' : ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'],
                       'eventi':  np.array([0] * 12,dtype='int32')                      
                     })

In [5]:
il_df = il_df.set_index('mese')

il_df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>eventi</th>
    </tr>
    <tr>
      <th>mese</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>jan</th>
      <td>0</td>
    </tr>
    <tr>
      <th>feb</th>
      <td>0</td>
    </tr>
    <tr>
      <th>mar</th>
      <td>0</td>
    </tr>
    <tr>
      <th>apr</th>
      <td>0</td>
    </tr>
    <tr>
      <th>may</th>
      <td>0</td>
    </tr>
    <tr>
      <th>jun</th>
      <td>0</td>
    </tr>
    <tr>
      <th>jul</th>
      <td>0</td>
    </tr>
    <tr>
      <th>aug</th>
      <td>0</td>
    </tr>
    <tr>
      <th>sep</th>
      <td>0</td>
    </tr>
    <tr>
      <th>oct</th>
      <td>0</td>
    </tr>
    <tr>
      <th>nov</th>
      <td>0</td>
    </tr>
    <tr>
      <th>dec</th>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
il_df['eventi']['sep']=1

In [7]:
il_df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>eventi</th>
    </tr>
    <tr>
      <th>mese</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>jan</th>
      <td>0</td>
    </tr>
    <tr>
      <th>feb</th>
      <td>0</td>
    </tr>
    <tr>
      <th>mar</th>
      <td>0</td>
    </tr>
    <tr>
      <th>apr</th>
      <td>0</td>
    </tr>
    <tr>
      <th>may</th>
      <td>0</td>
    </tr>
    <tr>
      <th>jun</th>
      <td>0</td>
    </tr>
    <tr>
      <th>jul</th>
      <td>0</td>
    </tr>
    <tr>
      <th>aug</th>
      <td>0</td>
    </tr>
    <tr>
      <th>sep</th>
      <td>1</td>
    </tr>
    <tr>
      <th>oct</th>
      <td>0</td>
    </tr>
    <tr>
      <th>nov</th>
      <td>0</td>
    </tr>
    <tr>
      <th>dec</th>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
import pycountry
len(pycountry.countries)

249

In [33]:
bolivia = pycountry.countries.get(alpha3='BOL')
print bolivia.name
print bolivia.official_name

bolivia_iso = pycountry.countries.get(name='Bolivia, Plurinational State of')
print bolivia_iso.alpha3

Bolivia, Plurinational State of
Plurinational State of Bolivia
BOL

In [9]:
iran = pycountry.countries.get(alpha3='IRN')
print iran.name
print iran.official_name

Iran, Islamic Republic of
Islamic Republic of Iran

In [10]:
democratic_republic_congo = pycountry.countries.get(alpha3='COD')
print democratic_republic_congo.name

Congo, The Democratic Republic of the

In [11]:
costa_avorio = pycountry.countries.get(alpha3='CIV')
print costa_avorio.name
print costa_avorio.official_name

costa_avorio_iso = pycountry.countries.get(name=u"Côte d'Ivoire")
print costa_avorio_iso.alpha3

Côte d'Ivoire
Republic of Côte d'Ivoire
CIV

In [27]:
siria  = pycountry.countries.get(alpha3='SYR')
print siria.name

Syrian Arab Republic

In [29]:
laos  = pycountry.countries.get(alpha3='LAO')
print laos.name

Lao People's Democratic Republic

In [35]:
sao_tome  = pycountry.countries.get(alpha3='STP')
print sao_tome.name

Sao Tome and Principe

In [36]:
tanzania  = pycountry.countries.get(alpha3='TZA')
print tanzania.name

Tanzania, United Republic of